.movieCardContainer {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 2px;
}

.movieDetailsOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 22.5%; 
    background-color: rgba(0, 0, 0, 0.75); 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px;
    z-index: 2;
    overflow: hidden;
}

.movieDetailsOverlay h5 {
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.moviePoster {
    width: 100%;
    height: 100%;
    border: 3px solid darkgray;
    border-radius: 20px;
    object-fit: cover;
}
.cardText {
    margin-bottom: -10px;
}
